.main-page {
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.title-bar{
  
  color:aqua
}
.title-bar:hover{
  cursor:pointer;
  color:chartreuse;
  text-decoration: underline;
}
.App-header {
  background-color: #283348;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


